<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="10 minutes">
		<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{36} -%msg%n</pattern>
			</layout>
		</appender>


		<!-- 按照每天生成日志文件 -->  
        <appender name="debuglog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		        <filter class="ch.qos.logback.classic.filter.LevelFilter">
						<level>DEBUG</level>
						<onMatch>ACCEPT</onMatch>
						<onMismatch>DENY</onMismatch>
			    </filter>
                <Encoding>UTF-8</Encoding>  
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
                      <FileNamePattern>logs/delete/debug.%d{yyyy-MM-dd}.log</FileNamePattern>  
                      <MaxHistory>30</MaxHistory>
                </rollingPolicy>  
                <layout class="ch.qos.logback.classic.PatternLayout">  
                        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>  
                </layout>  
        </appender>
        <appender name="infolog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		        <filter class="ch.qos.logback.classic.filter.LevelFilter">
						<level>INFO</level>
						<onMatch>ACCEPT</onMatch>
						<onMismatch>DENY</onMismatch>
			    </filter>          
                <Encoding>UTF-8</Encoding>  
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
                      <FileNamePattern>logs/delete/info.%d{yyyy-MM-dd}.log</FileNamePattern>  
                      <MaxHistory>30</MaxHistory>
                </rollingPolicy>  
                <layout class="ch.qos.logback.classic.PatternLayout">  
                        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>  
                </layout>  
        </appender>
        <appender name="warnlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		        <filter class="ch.qos.logback.classic.filter.LevelFilter">
						<level>WARN</level>
						<onMatch>ACCEPT</onMatch>
						<onMismatch>DENY</onMismatch>
			    </filter>          
                <Encoding>UTF-8</Encoding>  
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
                      <FileNamePattern>logs/delete/warn.%d{yyyy-MM-dd}.log</FileNamePattern>  
                      <MaxHistory>30</MaxHistory>
                </rollingPolicy>  
                <layout class="ch.qos.logback.classic.PatternLayout">  
                        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>  
                </layout>  
        </appender>
        <appender name="errorlog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		        <filter class="ch.qos.logback.classic.filter.LevelFilter">
						<level>ERROR</level>
						<onMatch>ACCEPT</onMatch>
						<onMismatch>DENY</onMismatch>
			    </filter>          
                <Encoding>UTF-8</Encoding>  
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
                      <FileNamePattern>logs/delete/error.%d{yyyy-MM-dd}.log</FileNamePattern>  
                      <MaxHistory>30</MaxHistory>
                </rollingPolicy>  
                <layout class="ch.qos.logback.classic.PatternLayout">  
                        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>  
                </layout>  
        </appender>
        
		<root level="warn">
			<appender-ref ref="stdout" />
			<appender-ref ref="debuglog" />		
			<appender-ref ref="infolog" />		
			<appender-ref ref="warnlog" />
			<appender-ref ref="errorlog" />		
		</root>
	
		<logger name="mgtLog" level="DEBUG" />
		<logger name="com.jingoal" level="DEBUG" />
		<logger name="com.ibatis" level="DEBUG" />
		<logger name="java.sql" level="DEBUG" />
</configuration>